<div class="large-8 columns">
	<div class="field">
		<%= form_for [@restaurant, @reservation] do |f| %>
		<%= f.label :time_slot %>
		<%= f.datetime_select :time_slot %>
		<% f.submit %>
	<% end %>
	</div>

</div>