<div class="row">
  <div class="large-12 columns">
    <h1>Edit restaurant info</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= render 'restaurants/form' %>
  </div>
</div>