<footer class="row">
	<div class="large-12 columns">
		<h2>This ritght here is the footer</h2>
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; a RALPH BOLO desgined mastperpayce, peep my github though</p>
			</div>
			<div class="large-6 columns">
				<p>Enterprise Solution</p>
					<% if current_owner %>
		  			Signed in as <%= link_to current_owner.name.capitalize, current_owner %>. <%= link_to "Log out", owner_session_path("current"), :method => :delete %>
					<% else %>
		  			<%= link_to "Log in", new_owner_session_path %> or <%= link_to "Sign up", new_owner_path %>
					<% end %>
			</div>
		</div>
	</div>
</footer>
