<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Treat Yourself", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if current_customer %>
        <li class="divider"></li>
        <li><%= link_to current_customer.name.capitalize, current_customer %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", customer_session_path("current"), :method => :delete %></li>
      <% else %>
        <li class="divider"></li>
        <li><%= link_to "Sign in", new_customer_session_path %></li>
      <% end %>

  
      
    </ul>
  </div>
</nav>

