<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Treat Yourself", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Sign in", "#" %></li>
      <li class="divider"></li>
      <li><%= link_to "Sign out" %></li>
  
      
    </ul>
  </div>
</nav>